<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Room</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
    <nav id="navbar">
        <div class="navlink button is-text"><a id="listButton" href="/">Home</a></div>
        <div class="navlink button is-text"><a id="logoutButton" href="/logout">Logout</a></div>
    </nav>

    <section id="content">
        <form id="roomCreationForm"
              onsubmit="{ (e) => createRoom(e) }"
              name="roomCreationForm"
              className="roomCreationForm"
              method="POST"
              action="/createRoom"
        >
            <label htmlFor="name">Room Name: </label>
            <input id="roomName" type="text" name="name" placeholder="Name">
            <br>
            <label htmlFor="theme">Theme: </label>
            <select name="theme" id="roomTheme">
                <option value="default" selected>Default</option>
                <option value="coffee">Coffee Shop</option>
                <option value="western">Western</option>
                <option value="cyberpunk">Cyberpunk</option>
                <option value="kawaii">Kawaii</option>
            </select>
            <br>
            <label htmlFor="members">No. of Members: </label>
            <input id="roomMembers" name="members" type="numbers" min="1" max="7">
            <br>
            <input id="roomSubmit" type="submit" value="Create Room">
        </form>
    </section>
    <script src="assets/creatorBundle.js"></script>
</body>
</html>