<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href=""/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <nav id="navbar">
        <div class="navlink button is-text"><a href=""></a></div>
        <div class="navlink button is-text"><a id="signupButton" href="/signup">Signup</a></div>
        <div class="navlink button is-text"><a id="listButton" href="/">Home</a></div>
    </nav>

    <section id="content">

    </section>

    <div id="errorNotification" class="hidden">
        <h3><span id="errorMessage"></span></h3>
    </div>
    <script src="assets/loginBundle.js"></script>
</body>
</html>