<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Room</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
</head>
<body>
    <section id="content">
        <h1 id="roomName" class="info"></h1>
        <h3 id="roomMembers" class="info"></h3>
        <h3 id="roomTheme" class="info"></h3>
        <img id="roomPicture" src="" alt="">
    </section>
    <script src=""></script>
</body>
</html>